@import '../node_modules/bootstrap/scss/_functions';
@import '../node_modules/bootstrap/scss/_variables';
@import '../node_modules/bootstrap/scss/_mixins';

$theme-colors: (
	'primary': $gray-800,
	'secondary': $secondary,
	'success': $green-700,
	'info': $info,
	'warning': $blue-700,
	'danger': $indigo-700,
	'light': $light,
	'dark': $dark,
);

.container {
	max-width: 70% !important;
}

.border-bottom {
	border-bottom: dotted 1px black !important;
}

@import '../node_modules/bootstrap/scss/bootstrap';
